*.bin
*.lock
*.flat
node_modules/
platforms/
www/
dist/
npm-debug.log
test/unit/coverage
test/e2e/reports
platforms/android/
platforms/android/CordovaLib/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
platforms/android/CordovaLib/build/intermediates/incremental/debug-mergeJniLibs/merge-state
platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugShaders/merger.xml
