*.bin
*.lock
*.flat
*.bat
*.apk
*.html
node_modules/
dist/
npm-debug.log
test/unit/coverage
test/e2e/reports
platforms/**
www/**
**/www
build/*
plugins/**
# platforms/android/app/build/outputs/apk/debug/app-debug.apk
# platforms/android/app/build/intermediates/assets/debug/www/index.html
# platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
# platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
# platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
# platforms/android/app/src/main/assets/www/index.html
# platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
# platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
# platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
# platforms/android/app/build/outputs/apk/debug/app-debug.apk
# platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
# platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
# platforms/android/app/build/outputs/apk/debug/app-debug.apk
# platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
# platforms/android/app/build/intermediates/assets/debug/www/index.html
# platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
# platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
# platforms/android/app/build/outputs/apk/debug/app-debug.apk
# platforms/android/app/src/main/assets/www/index.html

